<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body>
    <h3>Halo <%= namaUser %></h3>
    <p>Nama : <%= namaLengkapUser %> </p>
    <p>Email : <%= emailUser %> </p>
    <br>
    <br>
    <h3>Daftar Kontak :</h3>
    <ul>
      <% namaKontak.forEach(kontak => { %>
      <li>
        <p>Nama : <%= JSON.stringify(kontak.kontaknama) %></p>
        <p>Email : <%= JSON.stringify(kontak.kontakemail) %></p>
      </li>
      <% }); %>
    </ul>
    
      
    
    
  </body>
</html>