<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <h3 class="mt-3">Halo <%= namaLengkapUser %></h3>
      <!-- <p>Nama Anda : <%= namaLengkapUser %> </p>
      <p>Email Anda : <%= emailUser %> </p> -->
    </div>
    <div class="col-md-6">
      <form id="tambah-kontak" method="GET" action="/users">
        <div class="input-group mt-3 mb-3">
          <input type="text" class="form-control" id="q" name="q" placeholder="Cari kontak" required>
          <button type="submit" class="btn btn-primary" data-bs-toggle="modal">Cari Kontak</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <a href="/users/add" class="btn btn-primary mt-3 mb-3">+ Tambah Kontak</a>
        <a href="/users/multiple" class="btn btn-primary mt-3 mb-3">+ Create dan Update dari spreadsheet</a>
        <a href="/users/multiplecreate" class="btn btn-primary mt-3 mb-3">+ Create kontak dari spreadsheet</a>
        <a href="/users/multipleupdate" class="btn btn-primary mt-3 mb-3">+ Update kontak dari spreadsheet</a>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <% if (peopleKontak.length < 1) { %>
          <h5>Tidak ada kontak terdaftar</h5> 
        <% } %> 
        <table class="table table-hover table-bordered">
            <thead class="table-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">No HP</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>

                <% peopleKontak.forEach(function(kontak, i){ %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= kontak.kontaknama %></td>
                        <td><%= kontak.kontakemail %></td>
                        <td><%= kontak.nomorhp %></td>
                        
                        <td>
                            <a href="/users/edit/<%= kontak.idKontak %>" class="btn btn-success rounded-pill">edit</a>
                            <a data-href="/users/delete/<%= kontak.idKontak %>" data-namakontak="<%= kontak.kontaknama %>" class="btn btn-danger rounded-pill" id="delete-btn" data-bs-toggle="modal" data-bs-target="#deleteModal">delete</a>
                        </td>
                    </tr>
                    <% }); %>

            </tbody>
          </table>
    </div>
  </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Konfirmasi Hapus</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="kontak-url"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger btn-ok-delete">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <script>
      $('#deleteModal').on('show.bs.modal', function(e) {

        $(this).find('.btn-ok-delete').attr('href', $(e.relatedTarget).data('href'));
        $('.kontak-url').html('Yakin ingin menghapus <strong>' +  $(e.relatedTarget).data('namakontak') + '</strong>?');
      });
  </script>